<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Insertion of Access Records model</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="name">name</label>
            <input type="text" name="name" id="name"><br>
            <label for="date">date</label>
            <input type="text" name="date" id="date"><br>

            <input type="submit" value="input_access">
        </form>
    </center>
</body>
</html>